/* Error: Can't find stylesheet to import.
 *    ,
 * 30 | @use '@material/animation/animation';
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   node_modules/@material/textfield/_mixins.scss 30:1         @use
 *   node_modules/@material/textfield/mdc-text-field.scss 23:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 30 \2502  @use '@material/animation/animation';\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   node_modules/@material/textfield/_mixins.scss 30:1         @use\a   node_modules/@material/textfield/mdc-text-field.scss 23:1  root stylesheet";
}
